<section>
    <div class="shadow col-2">
        <div class=" p-6">
            <small class="text-gray-900 text-xs">Activo:</small>
            <h5 class="text text-gray-500 leading-3 pb-1 text-xs">Nombre:{{miAlumno.nombre}}</h5>
            <h6 class="text text-gray-500 leading-3 pb-1 text-xs">Edad: {{miAlumno.edad}}</h6>
            <h6 class="text text-gray-500 leading-3 pb-1 text-xs">Email: {{miAlumno.email}}</h6>
            <p class="text text-gray-500 leading-3 pb-1 text-xs">Curso: {{miAlumno.curso}}</p>
        </div>
    </div>
</section>